<nav class="navbar navbar-expand-md navbar-dark navBackground">

  <div class="container">

    <div class="row">

      <div class="col">
        <a class="navbar-brand">Luis Angel De La Torre Sánchez</a>
      </div>

    </div>

    <button class="navbar-toggler nav-mobile" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu">

      <ul class="navbar-nav ms-auto mb-2 mb-md-0">

        <li class="nav-item">
          <a routerLink="sobre-mi" data-mdb-toggle="collapse" class="nav-link" data-scroll>
            Sobre mi
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="proyectos" data-mdb-toggle="collapse" class="nav-link" data-scroll>
            Proyectos
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="contacto" data-mdb-toggle="collapse" class="nav-link" data-scroll>
            Contacto
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" data-scroll href="./assets/curriculum/currículum.pdf" target="_blank">
            Curriculum
          </a>
        </li>

      </ul>

      <div class="dropdown">

        <button class="btn dropdown-toggle btnSocial" type="button" data-bs-toggle="dropdown">
          Redes Sociales
        </button>

        <ul class="dropdown-menu">

          <li>
            <a class="dropdown-item bi bi-whatsapp" target="_blank"
              [href]="_servicio.info.whatsapp">
              Whatsapp
            </a>
          </li>

          <li>
            <a class="dropdown-item bi bi-linkedin" target="_blank"
              [href]="_servicio.info.linkedin">
              Linkedin
            </a>
          </li>

          <li>
            <a class="dropdown-item bi bi-github" target="_blank" [href]="_servicio.info.github">
              Github
            </a>
          </li>

          <li>
            <a class="dropdown-item bi bi-envelope-at-fill"
              [href]="_servicio.info.gmail">
              Gmail
            </a>
          </li>

        </ul>

      </div>

    </div>

  </div>

</nav>

<div class="container-fluid mt-4">

  <div class="row">

    <div class="col text-center">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>
