.navbar-nav li a {
  display: inline-block;
  position: relative;
  color: #1e1e1f;
}

.navbar-nav li a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #8EDCE6;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar-nav li a:hover::after
 {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar-nav li a:focus,
.navbar-nav li a:hover {
  color: white;
}

.dropdown button {
  color: #1e1e1f;
}

nav .navbar-brand {
  font-size: 30px;
}

@media (max-width: 600px) {
  nav .navbar-brand {
    font-size: 20px;
  }

  .navbar-nav li a {
    display: inline-block;
    position: relative;
    color: white;
  }

  .dropdown button {
    color: white;
  }

}
