.skills a {
  background-color: #333;
  color: #fff;
  font-size: 40px;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;

}

.skills i {
  width: 100%;
}

.js{
  animation: js 1s linear both;
  i{
    animation: i .5s linear backwards;
  }
}

.react {
  animation: react 1s linear both;
  animation-delay: 1s;
  i{
    animation: i .5s linear backwards;
    animation-delay: 1s;
  }
}
.node {
  animation: node 1s linear both;
  animation-delay: 2s;
  i{
    animation: i .5s linear backwards;
    animation-delay: 2s;
  }
}
.html {
  animation: html 1s linear both;
  animation-delay: 3s;
  i{
    animation: i .5s linear backwards;
    animation-delay: 3s;
  }
}
.git {
  animation: git 1s linear both;
  animation-delay: 4s;
  i{
    animation: i .5s linear backwards;
    animation-delay: 4s;
  }
}

.angular {
  animation: angular 1s linear both;
  animation-delay: 5s;
  i{
    animation: i .5s linear backwards;
    animation-delay: 5s;
  }
}

.css {
  animation: css 1s linear both;
  animation-delay: 6s;
  i{
    animation: i .5s linear backwards;
    animation-delay: 6s;
  }
}
.bootstrap {
  animation: bootstrap 1s linear both;
  animation-delay: 6s;
  i{
    animation: i .5s linear backwards;
    animation-delay: 6s;
  }
}
.database {
  animation: database 1s linear both;
  animation-delay: 6s;
  i{
    animation: i .5s linear backwards;
    animation-delay: 6s;
  }
}

@keyframes i {
  from{
    scale: 0;
   }
   to{
    scale: 1.5;
   }
}

@keyframes js {
 from{
  filter: blur(2px);
  scale: 0;
 }
 to{
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
  filter: none;
  scale: 1.5;
  background-color: #f7df1e;
 }
}
@keyframes react {
 from{
  filter: blur(2px);
  scale: 0;
 }
 to{
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
  filter: none;
  scale: 1.5;
  background-color: #1a9fcb;
 }
}
@keyframes node {
 from{
  filter: blur(2px);
  scale: 0;
 }
 to{
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
  filter: none;
  scale: 1.5;
  background-color: #8bc500;
 }
}
@keyframes html {
 from{
  filter: blur(2px);
  scale: 0;
 }
 to{
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
  filter: none;
  scale: 1.5;
  background-color: #e44c26;
 }
}
@keyframes git {
 from{
  filter: blur(2px);
  scale: 0;
 }
 to{
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
  filter: none;
  scale: 1.5;
  background-color: black;
 }
}
@keyframes angular {
 from{
  filter: blur(2px);
  scale: 0;
 }
 to{
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
  filter: none;
  scale: 1.5;
  background-color: #c50730;
 }
}
@keyframes css {
 from{
  filter: blur(2px);
  scale: 0;
 }
 to{
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
  filter: none;
  scale: 1.5;
  background-color: #264de4;
 }
}
@keyframes bootstrap {
 from{
  filter: blur(2px);
  scale: 0;
 }
 to{
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
  filter: none;
  scale: 1.5;
  background-color: #7e13f9;
 }
}
@keyframes database {
 from{
  filter: blur(2px);
  scale: 0;
 }
 to{
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
  filter: none;
  scale: 1.5;
  background-color: black;
 }
}

